{% extends 'base.html.twig' %}

{% block title %}Hello ProjectsController!{% endblock %}

{% block body %}
    <h1>Liste des projets</h1>
    <p><a href="{{ path('add_projects') }}">Créer un projet</a></p>
    {% for project in projects %}
        <table>
            <thead>
            <th>ID</th>
            <th>Name</th>
            <th>ID Groupe</th>
            </thead>
            <tbody>
            <td>{{ project.id }}</td>
            <td>{{ project.p_name }}</td>
            <td>{{ project.g_name }}</td>
            </tbody>
        </table>
    {% else %}
        <li><em>no projects found</em></li>
    {% endfor %}
{% endblock %}
