{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Bienvenu chez Chronos</h1>
        <p>Ne perdez plus votre temps à compter votre temps passé sur un projet. Chronos s'occupe de le faire pour vous.
            Cette application vous permet de compter le temps passé sur un projet pour tous les développeurs.</p>
    </div>
{% endblock %}
