{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Bienvenue chez Chronos</h1>
        <p>Ne perdez plus un instant à compter vos heures passées sur un projet. Chronos s'occupe de le faire pour vous ! Cette application vous permet de connaître le temps passé sur un projet pour tous les développeurs.</p>
    </div>
{% endblock %}
