{% extends 'base.html.twig' %}

{% block title %}Edit group{% endblock %}

{% block body %}
<div class="row">
    <div class="col-6">
    {{ include('groups/form.html.twig') }}
    </div>
    
    <div class="col-6">
    <h3>Add user to group</h3>
    <div class="card" style="width: 18rem;">
            {% for user in users %}<a class="btn btn-success" href="{{ path('add_user', {'id': user.id, 'name': group.name}) }}">add : {{ user.username }}</a> 
            {% else %}
            <div class="alert alert-primary" role="alert">
                No records found
            </div>
            {% endfor %}
        </ul>
    </div>
    </div>
    </div>
{% endblock %}