{% extends "base.html.twig" %}

{% block body %}
    <h1>{{ form_title }}</h1>
    {% if user_role is defined %}
    {% for user in user_role %}
        {{ user }}
    {% endfor %}
    {% endif %}
    {{ form(form_groups) }}
{% endblock %}
