{% extends 'base.html.twig' %}

{% block title %}Hello ProjectsController!{% endblock %}

{% block body %}
    <h1>Lise des groupes</h1>
    <p><a href="{{ path('add_groups') }}">Ajouter un groupe</a></p>
    {% for product in products %}
        <table>
            <thead>
            <th>ID</th>
            <th>Name</th>
            <
            </thead>
            <tbody>
            <td>{{ projects.id }}</td>
            <td>{{ projects.name }}</td>

        </table>
    {% endfor %}
{% endblock %}
