{% extends 'base.html.twig' %}

{% block title %}Groups index{% endblock %}

{% block body %}
    <h1>Groups index</h1>

    <a href="{{ path('groups_new') }}" class="btn btn-success active" role="button" aria-pressed="true">Create new</a>
<div class="row"</div>
        {% for group in groups %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ group.name }}</h5>
                <p class="card-text">Description</p>
                <div class="row">
                    <a class="card-link btn btn-primary" href="{{ path('groups_edit', {'id': group.id}) }}">edit</a>
                    {{ include('groups/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    {% else %}
        <div class="alert alert-primary" role="alert">
            No records found
        </div>
    {% endfor %}


{% endblock %}
